.header{
    display: flex;
    flex-direction: row;
    align-items:  center;
    box-sizing: border-box;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 12vw;
    max-height: 60px;
    width: 100%;
    background-color: rgb(41, 41, 41);
}

.header img {
    height: 80%;
    width: auto;
}
#favoritos{
    max-height: 40px;
    width: auto;
}

.barraPesquisa{
    background-color: rgb(68, 67, 67);
    width: 70%;
    height: 8vw;
    max-height: 60%;
    border-radius: 25px;
    padding-left: 4px;
    display: flex;
    align-items: center;
    max-width: 700px;
}

.barraPesquisa img {
    height: 80%;
}

#inputPesquisa {
    background-color: transparent;
    color: white;
    width: 70%;
    height: 5vw;
    border: none;
    font-size: 18px;
  
}

#inputPesquisa:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.linkFeed {
    display: none;   
    height: auto; 
    align-items: center; 
    color:#FF00E4 ;
    margin-right: 15px;     
}
.linkFeed img {
    margin-right: 15px;
    max-width: 25px;
    height: auto;

}
#imgLogo2 {
    display: none;
} 

@media only screen and (min-width: 1200px)  {
    .linkFeed {
        display: flex;
        
    }
    #favoritos {

        position: relative;
        left: -2%;
    }
    #imgLogo {
        display: none;
    }
    #imgLogo2 {
        display: block;
    }
    .linkImg img  {
       max-height: 65px;
    }
}