.cadastro {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
  
}

.logos {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    overflow-x: hidden;
    overflow-y: scroll
    
}

.divVoltar {
    width: 100vw;
    padding-top: 25px;
    padding-left: 15px;

}

#btVoltar {
    width: 60px;
    height: auto;
}

.inputsCadastro {

    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #FFFFFF;

}

.inputCadastro {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-top: 10px;
    max-width: 500px;

}

.inputCadastro input {

    margin-top: 10px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 10px 8px 10px;
    border-bottom: 1px solid #00F7EF;
    border-radius: 4px 4px 0px 0px;
}


.inputCadastro input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    background-color: #2f3030;
}

.termos {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.termos span {
    margin-left: 16px;
}

.checkBox {
    background-color: transparent;
    border: solid 1px #00F7EF;
}

.checkBox img {
    width: 20px;
    height: auto;
}

.LinkReact {

    color: #00F7EF;
    text-decoration: none;
}

.SenhaLabel-Icon {
    display: flex;
    flex-direction: row;
    width: 75vw;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-right: 20px;
    max-width: 500px;

}

.SenhaLabel-Icon img {
    width: 30px;
    position: relative;
    top: 40px;
}

.cadastro h1 {
    font-size: 30px;
}

.entre {
    margin-bottom: 30px;
}

.lado1, .lado2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

@media only screen and (min-width: 1000px) {
    .inputsCadastro {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        margin-top: 100px;
    }
    .inputsCadastro .entre {
        display: none;
    }
    .divVoltar {
        display: none;
    }
    .entre2 {
        background-color: #00F7EF;
        color: #2f3030;
        height: 35px;
        width: 330px;
        font-size: larger;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
    }
    .entre2:active {
        background-color: #97faf7;
    }
    .lado1, .lado2  {
        min-height: 280px;
    }
    .lado1 {
        padding-bottom: 26px;
    }
}