.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 6vh;
}

.login img {
    height: auto;
    width: 70vw;
    max-width: 500px;
}

.login h1 {
    padding-top: 15px;
}

.InputsLogin {
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-height: max-content;
    box-sizing: content-box;
    padding-bottom: 25px;
}

.inputEmail, .inputSenha {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 60px;
    width: 80vw;
    max-width: 600px;
    color: #FFFFFF;
}

.inputEmail input, .inputSenha input {
    margin-top: 15px;
    width: 75vw;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 10px 8px 10px;
    border-bottom: 1px solid #00F7EF;
    border-radius: 4px 4px 0px 0px;
}

.inputEmail input:focus, .inputSenha input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    background-color: #2f3030;
}

.inputSenha {
    margin-top: 40px;
}

.InputsLogin span {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: #00F7EF;
}

.entre, .inscreva {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72vw;
    margin-top: 30px;
    padding: 15px;
    border-radius: 4px ;
    font-weight: 900;
    font-size: 18px;
    
}

.entre {
    background-color: #00F7EF;
    color: #2f3030;
    height: 30px;
}
.inscreva {
    background: linear-gradient(to right, #89fffd,  #05b0e4,#ec79df, #ef32d9);
    height: 45px;
}