.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    justify-content: center;
    box-sizing: border-box;
  
}
.login .logoMaloucos {
    margin-top: 5vw;
}

.logoMaloucos {
    height: auto;
    width: 70vw;
    max-width: 300px;
}

.login h1 {
    font-size: 30px;
    padding-top: 15px;
}

.InputsLogin {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: max-content;
    box-sizing: content-box;
    padding-bottom: 25px;
    align-items: center;
}

.inputEmail, .inputSenha {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 60px;
    width: 100%;
    color: #FFFFFF;
}

.inputEmail input, .inputSenha input {
    margin-top: 10px;
    width: 76vw;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 10px 8px 10px;
    border-bottom: 1px solid #00F7EF;
    border-radius: 4px 4px 0px 0px;
}

.inputEmail input:focus, .inputSenha input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    background-color: #2f3030;
}


.inputSenha {
    margin-top: 40px;
}

.InputsLogin span {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: #00F7EF;
}

.entre, .inscreva {
    width: 76vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 4px ;
    font-weight: 900;
    font-size: 18px;
    
}
.inscreva:active{
    background: linear-gradient(to right, #ef32d9,  #ec79df,#05b0e4, #89fffd)
}
.entre:active, .rede:active {
   background: #9cf7f4;
}

.entre {
    background-color: #00F7EF;
    color: #2f3030;
    height: 20px;
}
.inscreva { 
    background: linear-gradient(to right, #89fffd,  #05b0e4,#ec79df, #ef32d9);
    height: 25px;
    margin-bottom: 100px;
}
#esqueci, #ou {
    margin-top: 40px;
    margin-bottom: 40px;
}
#ou {
    color: whitesmoke;
}
#esqueci:active{
    filter: brightness(50%);
}

.loginsRedes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
    margin-top: 50px;
}

.rede, .rede img {
    width: 40px;
    max-height: 40px;
    height: auto;
    width: auto;
}

.rede{
    background-color: #00F7EF;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    padding-top: 0px;
    padding: 5px;
}


@media only screen and (min-width: 1000px) {
    .InputsLogin {
        display: none;
    }
}