.player {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #00F7EF;
}
.player:hover .controls, .player:hover .controls {
    display: flex;
}

.controls {
    width: 100%;
    display: none;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    padding-left: 10px;
    background-color: black;
    top: -1vw;

}
.timeVideo {
    color: #00F7EF ;
    margin-left: 5px;
}
.controls img {
    height: 24px;
    width: 24px;
}
.controls input {
    width: 20%;
}
.volume {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}
.imgControl {
    margin-left: 25px;
} 
.volume input {
    display: none;
    width: 80px;
    position: relative;
 
    
}

.volume:hover input {
        display: block;
}
.volume:active input {
    display: block;
}

.spanvideo {
    background-color: #252525;
    height: 30vw;
    max-height: 180px;
    display: flex;
    flex-direction: column;
    padding: 20px 5% 20px ;
    display: flex;
    margin-bottom: 100px;
    
}

.spanvideo span {
    margin-top: 10px;
}
.spanvideo img {
    max-width: 30px ;
    height: auto;
    
}

.btCompartilhar {
    margin-left: 10px;
    position: relative;
    top: -5px;
}

.atalhosPlayer {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .atalhosPlayer {
        display: flex;
        flex-direction: column;
    }
    #voltar2  {
        height: 50px;
        width: 50px;
        position: relative;
        margin-top: 80px;
        margin-bottom: 10px;
        margin-left: 130px;
    }
    .back {
        display: none;
    }
    .containerVideo {
        max-width: 65vw;
        overflow: hidden;
        margin-top: 15px;
        margin-left: 4%;
    }
    .player {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .controls img {
        margin-right: 20px;
    }
}