.premium {
    background-color: black;
    background-image: url("../../assets/background 2.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    font-size: 20px;
}
.premium h1 {
    margin-top: 10vw;
    font-size: 30px;
}
.spanValor {
    margin-top: 10vw;
}

.logoPremium {
    width: 70vw;
    height: auto;
    max-width: 500px;
    
}
.assinarPremium {
    background: linear-gradient(to right, #89fffd,  #05b0e4,#ec79df, #ef32d9);
    width: 70vw;
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 4px;
    margin-bottom: 50px;
}
.assinarPremium h1 {
    margin: 0px;

}
.assinarPremium:active{
    background: #ef32d9 ;
}

.diamante {
    margin-top: 10vw;
    width: 10%;
    height: auto;
    max-width:  70px;
}

.premium ul {
    list-style-type: circle;
}

@media only screen and (max-width: 550px) {
    .premium h1{
        font-size:  25px;
    }

}